@using TraversalProject.DTOLayer.DTOs.AnnouncementDTOs
@model List<AnnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var values in Model)
    {
        <tr>
            <td>@values.AnnouncementId</td>
            <td>@values.Title</td>
            <td>@values.Content</td>
            <td>
                <a a href="/Admin/Announcement/DeleteAnnouncement/@values.AnnouncementId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a a href="/Admin/Announcement/UpdateAnnouncement/@values.AnnouncementId" class="btn btn-success">Güncelle</a>
            </td>
        </tr>
    }

</table>
<a href="/Admin/Announcement/CreateAnnouncement/" class="btn btn-success">Duyuru Ekle</a>

