@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<br />
<button type="button" class="btn btn-primary mb-3" id="btngetlist">Şehir Listesi</button>
<button type="button" class="btn btn-info mb-3" id="btngetbyid">Şehir Getir</button>
<button type="button" class="btn btn-success mb-3" id="btnaddcity">Şehir Ekle</button>
<button type="button" class="btn btn-danger mb-3" id="btndeletecity">Şehir Sil</button>
<button type="button" class="btn btn-warning mb-3" id="btnupdatecity">Şehir Güncelle</button>

<br />
<br />

<div id="citylist"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            type: "GET",
            url: "/Admin/City/CityList",
            dataType: "json",
            success: function (data) {
                console.log(data);

                let tableHtml = `
                    <table class="table table-bordered">
                        <tr><th>Şehir Adı</th><th>Gün Gece</th><th>Fiyat</th></tr>
                `;

                $.each(data, function (index, value) {
                    tableHtml += `
                        <tr>
                            <td>${value.city}</td>
                            <td>${value.dayNight}</td>
                            <td>${value.price}</td>
                        </tr>
                    `;
                });

                tableHtml += "</table>";
                $("#citylist").html(tableHtml);
            },
            error: function (xhr) {
                console.error("Hata:", xhr);
            }
        });
    });
</script>
