<div class="card mt-4 shadow-lg border-0">
    <div class="card-body">
        <h5 class="fw-bold mb-3">✍️ Yorum Yap</h5>

        <form id="commentForm" asp-controller="Destination" asp-action="CreateComment" method="post">

            <input type="hidden" name="DestinationId" value="@Model.Destination.DestinationId" />
            <input type="hidden" name="NameSurname" value="@User.FindFirst("Name")?.Value" />
            <input type="hidden" name="Email" value="@User.Identity.Name" />

            <div class="mb-3">
                <label class="form-label">Yorumunuz</label>
                <textarea class="form-control" name="UserComment" rows="4" required></textarea>
            </div>

            <button type="submit" class="btn btn-success px-4">
                <i class="fa fa-paper-plane me-2"></i> Gönder
            </button>

        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("commentForm").addEventListener("submit", function(e){
        e.preventDefault();
        var form = this;
       

        Swal.fire({
            title: 'Başarılı!',
            text: 'Yorumunuz gönderildi.',
            icon: 'success',
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if(result.isConfirmed){
                form.submit();
            }
        });
    });
</script>
