
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<a href="/Admin/PDF/StaticPdfReport" class="btn btn-danger">Statik PDF İndir</a>
<br /><br />
<a href="/Admin/PDF/StaticCustomerReport" class="btn btn-warning">Statik Müteri PDF İndir</a>
