
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-success">Dinamik Excel Raporu</a>
<br />
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-primary">Statik Excel Raporu</a>

