@using TraversalProject.EntityLayer.Concrete
@model Guide
@{
    ViewData["Title"] = "CreateGuide";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateGuide</h1>

<form method="post">
    <div class="form-group mb-3">
        <label for="NameSurname">Ad Soyad</label>
        <input type="text" class="form-control" id="NameSurname" name="NameSurname" required />
    </div>

    <div class="form-group mb-3">
        <label for="NameSurname">Açıklama</label>
        <textarea class="form-control" id="Description" name="Description" rows="4" required></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="NameSurname">Görsel URL</label>
        <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" required />
    </div>

    <div class="form-group mb-3">
        <label for="NameSurname">X URL</label>
        <input type="text" class="form-control" id="ImageUrl" name="XUrl" required />
    </div>

    <div class="form-group mb-3">
        <label for="NameSurname">Instagram URL</label>
        <input type="text" class="form-control" id="ImageUrl" name="InstagramUrl" required />
    </div>

    <button type="submit" class="btn btn-primary">Oluştur</button>
</form>