@model UserRegisterViewModel
@{
    Layout = null;
}

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" value="" />
    <br />
    <label>Email</label>
    <input type="email" name="Email" value="" />
    <br />

    <label>Passowrd</label>
    <input type="password" name="Password" value="" />
    <br />

    <button type="submit">Kayıt Ol</button>
</form>